* {
    margin: 0;
    padding: 0;
}
body {
    background-color: gainsboro;
}
.main {
    display: flex;
    flex-direction: column;
}

.card {
    /*position: absolute;*/
    /*top: 40%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin-top: 40px;
    width: 240px;
    height: 430px;
    perspective: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}
#words {
    display: flex;
    flex-wrap: wrap;
}
.card-small {
    margin-top: 30px;
    width: 260px;
    height: 330px;
    perspective: 800px;
    background-color: transparent;
    border: none;
    margin-right: 30px;
}
.front-content{
    width: 100%;
    text-align: center;
    flex-grow: 1;

}
.back-content {
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
}
.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .8s linear;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.front {
    transform: perspective(800px) rotateY(0deg);
    background-color: #fff
}
.back {
    transform: perspective(800px) rotateY(180deg);
    background-color: #fff;
}
.rotate{
    transform: perspective(800px) rotateY(-180deg);
}
.rotate2 {
    transform: perspective(800px) rotateY(0deg);
}
.bottom{
    text-align: center;
    margin: 20px;
}
.image {
    margin-top: 15px;
    clear: both;
}
.no-image {
    margin-top: 70px;
}
.phrase {
    margin-top: 15px;
}
.text {
    font-size: large;
}
.ll-sets-words__sound {
    border-radius: 4px;
    display: block;
    height: 32px;
    transition: background-color .2s ease;
    width: 32px;
    cursor: pointer;
    margin: auto;
}
.green {
    background-color: #b1dfbb;
}
.yellow {
    background-color: #fff3cd;
}
.statistic, .filters {
    width: 100%;
    margin-left: -15px;
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
}

.pron {
    font-size: small;
    color: #6c757d;
}
.tranlation {
    margin: auto;
}
.auto_complete {
    width: 250px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    border: 1px #ccc solid;

}
.auto_complete_wrapper {
    text-align: center;
}
